Repository woocommerce/woocommerce-accommodation-bookings, pull requests merged in 2024-08, with the labels that each got.

#452 Fix the QIT Woo E2E tests and add new PHPCompat and Malware tests.
  .github/workflows/e2e.yml
  .github/workflows/eslint.yml
  .github/workflows/generate-zip.yml
  .github/workflows/php-compat.yml
  .github/workflows/phpcs.yml
  .github/workflows/qit.yml
Labels: status: e2e tests failing

#425 Fix display of 2 checkbox options in Accomodation product
  includes/admin/views/html-accommodation-booking-data.php
Labels: needs: UAT

#447 Allows product accommodation tabs ordering (priority)
  includes/admin/class-wc-accommodation-booking-admin-panels.php
  includes/admin/views/html-accommodation-booking-tabs.php
Labels: needs: e2e testing

#455 Compatibility testing with Woo 9.2
  woocommerce-accommodation-bookings.php
Labels: status: e2e tests failing

#454 Fix E2E tests for WooCommerce 9.2
  tests/e2e/utils/index.js
Labels: status: e2e tests passing

#457 Release/1.2.8
  changelog.txt
  package-lock.json
  package.json
  readme.txt
  tests/e2e/specs/product.spec.js
  tests/e2e/utils/index.js
  woocommerce-accommodation-bookings.php
Labels: status: e2e tests passing
